@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  input[type="date"],
  input[type="time"] {
    color-scheme: dark;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

body {
  @apply antialiased bg-gray-900;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

.whatsapp-button svg {
  width: 24px;
  height: 24px;
  color: white;
}

nav > a {
  margin-left: 0 !important;
}

#separador{
  padding-top: 3px;
}